.container{
    display : grid;
    height:100vh;
    margin-left: 1rem;
    margin-right: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.45fr 0.1fr 0.6fr 0.6fr 0.05fr ;
    grid-template-areas: 
    "section nav nav nav"
    "section daydetail daydetail daydetail"
    "section today-highlights today-highlights today-highlights"
    "section content1 content2 content3"
    "section content4 content5 content6"
    "section footer footer footer";
    grid-gap: 0.5rem;
    background-color: rgb(239, 239, 240);
}
section{
    grid-area: section; 
}
.sidebar{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "searchPlaces"
    "currentDayImage"
    "currentDetail1"
    "currentDetail2"
    "image"
    "sidebarfooter";
    grid-gap: 0.2rem;
}
.searchPlaces{
    grid-area: searchPlaces;
}
.sidebar .searchbar{
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    margin-top: 1.5rem;
}
.currentDayImage{
    grid-area: currentDayImage;
    display: flex;
    align-items: center;
    justify-content: center;
}
.currentDetail1{
    grid-area: currentDetail1;
}
.currentDetail2{
    grid-area: currentDetail2;
}
.image{
    grid-area: image;
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    position: relative;
}
.sidebarfooter{
    grid-area: sidebarfooter;
}

::placeholder{
    color: black;
    font-size: 16px;
}
.sidebar .searchbar input{
    width: 100%;
    background: transparent;
    outline:none;
    border:none;
    font-size: 16px;
}
.searchbar img{
    padding:0 1rem;
}
.sidebar .searchbar input:focus{
    outline: none;
}
.sidebar .currentDetail1 .temp h1{
    font-size: 60px;
    font-weight: 500;
}
.sidebar .currentDetail2 .main, .discription{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main p, .discription p{
    margin-left: 0.5rem;
}
.sidebar .image img{
    width: 80%;
    height: 130px;
    border-radius: 20px;
    /* filter: blur(1px);
  -webkit-filter: blur(1px); */
}
.location-image {
    position: absolute;
    top:40%;
    left:40%;
    transform: translate(-50%, -40%);
    font-weight: bolder;
    color: white;
    font-size: 1.5rem;
}

nav{
    grid-area: nav;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav .weather-report{
    display: flex;
}
nav .cel-frah{
    display: flex;
}

nav .cel-frah button{
    width:35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 6px;
}

.daydetail{
    grid-area: daydetail;
    display: flex;
    flex-direction: row;
}
.daydetail > div {
    background-color: white;
    margin:0.5rem;
    width: 120px;
    border-radius:10px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.today-highlights{
    grid-area: today-highlights;
    display: flex;
    align-items: center;
}
.content1 {
    grid-area: content1;
}
.content2 {
    grid-area: content2;   
}
.content3 {
    grid-area: content3;
}
.content4 {
    grid-area: content4;
}
.content5 {
    grid-area: content5;
}
.content6 {
    grid-area: content6;    
}
.content1, .content2, .content3, .content4, .content5, .content6{
    background-color: white;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.speedometer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#c1-p, #c2-p, #c3-p, #c4-p, #c5-p, #c6-p{
    color: black;
    font-size: larger;
    margin-left: 5%;
    font-weight: bold;
}
.c2-h1, .c4-h1, .c5-h1, .c6-h1{
    margin-left: 5%;
}
.windStatus, .humidity, .visibility, .pressure, .sunset, .sunrise{
    display: flex;
    align-items: center;
    margin-left: 5%;
}
.footer{
    grid-area: footer;
    background-color: rgb(239, 239, 240);
}
.footer .weatherly{
    display: none;
    padding: 0rem 0;

}
@media screen and (max-width : 900px){
    .container{
    display : grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 0.1fr 0.2fr 0.05fr 0.3fr 0.3fr 0.3fr 0.05fr ;
    grid-template-areas: 
    "section nav nav"
    "section daydetail daydetail"
    "section today-highlights today-highlights"
    "section content1 content2"
    "section content3 content4"
    "section content5 content6"
    "section footer footer";
    }
}
@media screen and (max-width : 550px){
    .container{
    display : grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.4fr 0.4fr 0.1fr 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr 0.1fr ;
    grid-template-areas: 
    "nav"
    "section"
    "daydetail"
    "today-highlights"
    "content1"
    "content2"
    "content3"
    "content4"
    "content5"
    "content6"
    "footer";
    }
    
    .today-highlights{
        padding: 0.3rem 0;
    }
    .daydetail{
        display: flex;
        flex:100%;
        /* background-color: aqua; */
    }
    .daydetail > div {
        background-color: white;
        width: auto;
        margin:0 0.2rem;
        flex:25%;
        border-radius:10px ;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0;
    }
    .daydetail h3{
        font-size: 13px;
    }
    
    .clouds img, .max-temp img, .min-temp img{
        margin: 0.65rem 0;
    }
    
    .content2, .content3, .content4, .content5, .content6{ 
        padding:1rem 0;
    } 
    #c1-p{
        padding-top: 0.2rem;
    }
    .c2-h1, .c4-h1, .c5-h1, .c6-h1{
        padding:0.4rem 0;
    }
    .sunrise{
        padding: 0.4rem 0;
    }
    nav{
        padding: 1rem 0;
     }
    .sidebar .searchbar{
        width: 100%;
        border-radius: 31px;
        margin-top: 0.8rem;

    }
    .sidebar .image img{
        width: 100%;
        height: 120px;
        border-radius: 20px;
    }
    .location-image {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;

    }
    .footer{
        background-color: black;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .footer .weatherly{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        padding: 0.5rem 0;
    }
    
}