*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(239, 239, 240);
}
.container{
    display : grid;
    height:100vh;
    margin-left: 2rem;
    margin-right: 2rem;
    width: calc(100wh - 4rem);
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.45fr 0.1fr 0.6fr 0.6fr 0.05fr ;
    grid-template-areas: 
    "section nav nav nav"
    "section daydetail daydetail daydetail"
    "section today-highlights today-highlights today-highlights"
    "section content1 content2 content3"
    "section content4 content5 content6"
    "section footer footer footer";
    grid-gap: 10px;
    background-color: rgb(239, 239, 240);
}
section{
    grid-area: section;    
}
.sidebar{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 1rem;
}
.sidebar .searchbar{
    width: 80%;
    height: auto;
    display: flex;
    background-color: white;
    border-radius: 20px;
    padding: 0.6rem 0rem;
}
::placeholder{
    color: black;
    font-size: 16px;
}
.sidebar .searchbar input{
    background: transparent;
    outline:none;
    border:none;
    margin-left: 0.5rem;
}
.searchbar img{
    padding-left: 0.3rem;
}
.sidebar .searchbar input:focus{
    outline: none;
}
.sidebar .currentDetail1 .temp h1{
    font-size: 60px;
    font-weight: 500;
}
.sidebar .currentDetail2 .main, .discription{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main p, .discription p{
    margin-left: 0.5rem;
}
.sidebar .image img{
    width: 80%;
    height: 160px;
    border-radius: 20px;
}
.currentDayImage{
    display: flex;
}
nav{
    grid-area: nav;
    /* background-color: beige; */
    display: flex;
    flex-direction: row;
    align-items: center;
    flex:100%;
}
nav .weather-report{
    flex:60%;
}
nav .cel-frah button{
    width:35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 6px;
    flex:20%;
}
nav .avatar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    flex: 20%;
}
.daydetail{
    grid-area: daydetail;
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
}
.daydetail .clouds, .max-temp, .min-temp{
    width: 130px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 10px;
    margin-right: 1rem;
}
.today-highlights{
    grid-area: today-highlights;
    display: flex;
    align-items: center;
}
.content1 {
    grid-area: content1;
}
.content2 {
    grid-area: content2;   
}
.content3 {
    grid-area: content3;
}
.content4 {
    grid-area: content4;
}
.content5 {
    grid-area: content5;
}
.content6 {
    grid-area: content6;    
}
.content1, .content2, .content3, .content4, .content5, .content6{
    background-color: white;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.speedometer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#c1-p, #c2-p, #c3-p, #c4-p, #c5-p, #c6-p{
    color: black;
    font-size: larger;
    margin-left: 5%;
    font-weight: bold;
}
.c2-h1, .c4-h1, .c5-h1, .c6-h1{
    margin-left: 5%;
}
.windStatus, .humidity, .visibility, .pressure, .sunset, .sunrise{
    display: flex;
    align-items: center;
    margin-left: 5%;
    /* background-color: rgb(255, 196, 0); */
}
.footer{
    grid-area: footer;
}
@media screen and (max-width : 1089px){
    .container{
    display : grid;
    margin-left: 1rem;
    margin-right: 1rem;
    width: calc(100wh - 2rem);
    grid-template-columns: 0.8fr 1fr 1fr ;
    grid-template-rows: 0.2fr 0.45fr 0.1fr 0.6fr 0.6fr 0.6fr 0.05fr ;
    grid-template-areas: 
    "section nav nav"
    "section daydetail daydetail"
    "section today-highlights today-highlights"
    "section content1 content2"
    "section content3 content4"
    "section content5 content6"
    "section footer footer";
    }
}
@media screen and (max-width : 800px){
    .container{
    display : grid;
    margin-left: 0rem;
    margin-right: 0rem;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.4fr 0.4fr 0.1fr 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr 0.05fr ;
    grid-template-areas: 
    "nav"
    "section"
    "daydetail"
    "today-highlights"
    "content1"
    "content2"
    "content3"
    "content4"
    "content5"
    "content6"
    "footer";
    }
    .sidebar .image img{
        width: 100%;
        height: 160px;
    }
    .today-highlights{
        padding: 1rem 0;
        font-size: larger;
        width: 90%;
        margin:auto;
    }
    .daydetail{
        width: 90%;
        margin:auto;
    }
    .daydetail .clouds, .max-temp, .min-temp{
        padding: 1rem 0;
    }
    .clouds img, .max-temp img, .min-temp img{
        padding: 0.4rem 0;
    }
    .content1{
        width: 90%;
        margin:auto;
    }
    .content2, .content3, .content4, .content5, .content6{
        width: 90%;
        margin: auto;
        padding:1rem 0;
    } 
    #c1-p{
        padding-top: 0.2rem;
    }
    .c2-h1, .c4-h1, .c5-h1, .c6-h1{
        padding:0.4rem 0;
    }
    .sunrise{
        padding: 0.4rem 0;
    }
    nav{
        background-color: white;
        box-shadow: 0 0 5px #ccc; 
     }
    nav .weather-report{
        margin-left: 0.3rem;
    }
    .currentDayImage{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .sidebar{
        width: 90%;
        margin:auto
    }
    .sidebar .searchbar{
        width: 100%;
        padding: 1rem 0;
    }
}